<!DOCTYPE html>
<html>
<head>
	<title>Progress</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	<!-- Google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

	<!-- D3.js -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script> -->
  <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
  <script src="https://d3js.org/d3-path.v1.min.js" charset="utf-8"></script>

	<script>

<!-- Data for radar chart   -->

		{% for r in results %}
				var {{ r.field_name() }} = 
        [ 
          {name:'This Week',
          axes:
					 {{ r.get_prev_question_results(0, questions) | safe }} ,
          },
          {name:'Last Week',
          axes:
					 {{ r.get_prev_question_results(1, questions) | safe }} ,
          },
          {name:'2 Week',
          axes:
					 {{ r.get_prev_question_results(2, questions) | safe }} ,
          },
				]; 
		{% endfor %}

// Data for Line Chart ------------------------
    var learners = 
    [
      {% for p in progress %}
      {
        "name": "{{ p.name }}",
        "show": true,
        "currentScore": {{ p.get_last_score() }},
        "history": {{ p.get_weekly_results() | safe }}
      },
      {% endfor %}
    ]

	</script>


	<!-- radarChart.js -->
	<script src= "{{ url_for('static',filename='radarChart.js') }}"> </script>

  <!-- lineChart.js -->
  <script src= "{{ url_for('static',filename='lineChart.js') }}"> </script>

	<style>
		
		.legend {
			font-family: 'Raleway', sans-serif;
			fill: #333333;
		}
		
		.tooltip {
			fill: #333333;
		}
	</style>

</head>
<body>

<div>
	<div style="float: right">

		{% if scroll.prev_monday %}
			{% if student %}
				<a href="/comments/{{uuid}}/{{scroll.prev_monday}}/{{student}}/">{{scroll.prev_monday}}</a>
			{% else %}
				<a href="/comments/{{uuid}}/{{scroll.prev_monday}}/">{{scroll.prev_monday}}</a>
			{% endif %}
		{% endif %}

		{{scroll.display_monday}}

		{% if scroll.next_monday %}
			{% if student %}
				<a href="/comments/{{uuid}}/{{scroll.next_monday}}/{{student}}/">{{scroll.next_monday}}</a>
			{% else %}
				<a href="/comments/{{uuid}}/{{scroll.next_monday}}/">{{scroll.next_monday}}</a>
			{% endif %}
		{% endif %}
		
	</div>
</div>
<div style="clear:both;"> </div>

{% if missing and not student %}

	<h1>Missing for {{date}}</h1>

	{% for m in missing %}
		<ul>
			<li> {{ m.name }} </li>
		</ul>
	{% endfor %}

{% endif %}

<h1>Comments for {{date}} week {{week}}</h1>

<div class="center90">
<table class="border1" style="width:100%">
	<tr>
		<th class="border1" style="width:10%"> </td>
		<th class="border1" style="width:30%">Going Well</th>
		<th class="border1" style="width:30%">Issues</th>
		<th class="border1" style="width:30%">What to try</th>
	</tr>
{% for r in results %}
	<tr>
		<th class="border1"> 
			<a href="/comments/{{uuid}}/{{scroll.display_monday}}/{{r.student_id}}/">{{r.first_name()}}</a>
		</th>
		<td class="border1"> {{ r.going_well }} </td>
		<td class="border1"> {{ r.issues }} </td>
		<td class="border1"> {{ r.what_to_try }} </td>
	</tr>
{% endfor %}
</table> 
</div>

<h1>Skill Self Assesment for {{date}} week {{week}}</h1>

<div>

<div class="center90">
	{% for r in results %}
		<div class="border1" style="float:left;">
			<div class="center"> <b>{{ r.first_name() }} {{ r.get_prev_total(2) }} {{ r.get_prev_total(1) }} {{ r.get_prev_total(0) }}</b>  </div>
			<div id="{{ r.field_name() }}_div"> </div>
		 </div>
	{% endfor %}
</div>
</div>

<br>
<br>

<br>
<div style="clear:both;">
</div>
<h1>Class Progress week {{week}}</h1>

  <div id="LineChart">  </div>


</body>
</html>


<script>
      
  /* Radar chart design created by Nadieh Bremer - VisualCinnamon.com */

	////////////////////////////////////////////////////////////// 
	//////////////////////// Set-Up ////////////////////////////// 
	////////////////////////////////////////////////////////////// 

	// var margin = {top: 100, right: 100, bottom: 100, left: 100},
	var radar_margin = {top: 45, right: 55, bottom: 45, left: 55};
	// var margin = {top: 65, right: 65, bottom: 65, left: 65},
	// 	width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
	// 	height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);
			
	////////////////////////////////////////////////////////////// 
	////////////////////////// Data ////////////////////////////// 
	////////////////////////////////////////////////////////////// 

	// var data = [
	// 		  [//iPhone
	// 			{axis:"HTML",value:2},
	// 			{axis:"Logic",value:6},
	// 			{axis:"JS",value:7},
	// 			{axis:"Design",value:0.17},
	// 			{axis:"Have",value:0.22},
	// 			{axis:"Large",value:0.02},
	// 			{axis:"Price",value:0.21},
	// 			{axis:"To Be",value:0.50}			
	// 		  ]
	// 		];
	////////////////////////////////////////////////////////////// 
	//////////////////// Draw the Chart ////////////////////////// 
	////////////////////////////////////////////////////////////// 

	// var color = d3.scale.ordinal()
	// 	.range(["#EDC951","#CC333F","#00A0B0"]);
		
	// var radarChartOptions = {
	//   w: width,
	//   h: height,
	//   margin: margin,
	//   maxValue: 5,
	//   levels: 5,
	//   roundStrokes: true,
	//   color: color
	// };
	var radarChartOptions = {
	  w: 200,
	  h: 200,
	  margin: radar_margin,
	  maxValue: 5,
	  levels: 5,
	  roundStrokes: true,
    color: d3.scaleOrdinal().range(["#EDC951", "#CC333F", "#00A0B0"]),
	  // color: color
	};
	//Call function to draw the Radar chart
	{% for r in results %}
		// RadarChart("#{{ r.field_name() }}", {{ r.field_name() }}, radarChartOptions);
		RadarChart("#{{ r.field_name() }}_div", {{ r.field_name() }}, radarChartOptions);
	{% endfor %}
	// RadarChart("#radarChart", Amadou, radarChartOptions);
	// RadarChart("#radarChart2", data, radarChartOptions);
</script>

<!-- ------------------------------------------------------------------------------------------------ -->

<script>

// ----------------------------------- Start of Script for Line Chart -------------------------------------------

  // Load the data
  // let learners =
  // [
  //   {
  //     "name": "Stu 1",
  //     "show": true,
  //     "currentScore": 33,
  //     "history": [
  //       {
  //         "week": 1,
  //         "score": 10
  //       },
  //       {
  //         "week": 2,
  //         "score": 20
  //       },
  //       {
  //         "week": 3,
  //         "score": 33
  //       }
  //     ]
  //   },
  //   {
  //     "name": "Stu 2",
  //     "show": true,
  //     "currentScore": 7,
  //     "history": [
  //       {
  //         "week": 3,
  //         "score": 3
  //       },
  //       {
  //         "week": 4,
  //         "score": 4
  //       },
  //       {
  //         "week": 5,
  //         "score": 5
  //       },
  //     ]
  //   }
  // ]



DrawLineChart('#LineChart', learners);


</script>
